@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: #f3f5f9;
    font-family: Inter,sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display: flex;
}

.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    width: 280px;
    height: 1300px;
    background: #f3f5f9;
    padding: 10px;
}
.wrapper .sidebar h2{
    color: black;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}
.wrapper .sidebar ul li a{
    color: black;
    display: block;
}
.wrapper .sidebar ul li a .fas{
    width: 25px;
}
.wrapper .sidebar ul li:hover{
    background: #bdb8d7;
    border-radius: 10px;
}
.wrapper .sidebar ul li:hover a{
    color: #fff;
    border-radius: 10px;
}
.wrapper .sidebar ul li a i{
    padding: 5px;
}
.scroll-bar{
    height: 1000px;
    width: 280px;
    border: 1px solid grey;
    font-family: 'GestaRegular', Arial, Helvetica, sans-serif;
    overflow: auto;
}
h6{
    color: #bdb8d7;
}
.item .sub-menu{
    display: none;
}

.item .sub-menu a{
    color: black;
    display: block;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}
.item .sub-menu a:hover{
    background: grey;
    border-radius: 10px;
}
.rotate{
    transform: rotate(90deg);
}
.item .sub-menu a.active{
    color: blue;
}
.wrapper .sidebar ul li a.active{
    color: blue;
}
div h2 img{
    width: 40px;
    height: 20px;
    padding-right: 10px;
}
#interface{
    width: calc(100% - 300px);
}
#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
}
#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 25px;
    border: 5px solid #d7dbe6;
    border-radius: 4px;
}
#interface .navigation .n1 i{
    margin-right: 15px;
}
#interface .navigation .n1 input{
    border: none;
    outline: none;
    font-size: 18px;
}
#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}
#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
#interface .total .sales{
    display: grid;
    grid-template-columns: repeat(auto, minmax(50px));
    margin-top: 20px;
    background-color: #594ef7;
    width: 350px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 20px;
    border-color: black;
}
#interface .total .sales td{
    padding: 20px;
    background-color: #bdb8d7;
}
#interface .total .rating{
    display: grid;
    margin-top: 20px;
    background-color: #bdb8d7;
    width: 200px;
    height: 200px;
    padding-left: 10px;
    margin-left: 20px;
    border-color: black;
    border-radius: 10px;
    box-sizing: border-box;
}
#interface .total .rating img{
    width: 50px;
    height: 70px;
    padding-left: 20px;
}